<h1>Welcome to Fishin USA</h1>
<div><%= image_tag('tube.jpg'); %></div>
<p>Fishin USA manufactures custom fishing rod holders for float tubes. Our rod holders are compatible with the Outcast Fish Cat 4 and the Creek Company ODC420. Our rod holders feature durable construction and can hold spinning and baitcasting rods. They can be customized to hold up to 5 rods and a fishfinder. Please visit our <%= link_to 'Products', products_path %> page to see the different configurations available.</p>
<p>Handcrafted in the USA</p>