<h1>Frequently Asked Questions</h1>
<p class='bold'>What is your return policy?</p>
<p>If you aren't satisfied for any reason, you may return within 3 weeks of receiving your product. The customer pays return shipping.</p>
<p class='bold'>What payment methods do you accept?</p>
<p>We accept Paypal and credit card payments.</p>
<p class='bold'>Is your website secure?</p>
<p>Yes. Our website is encrypted with an SSL Certificate and your credit card data is transmitted using a secure web protocol (https). You can verify this by looking at the address bar of your web browser. On the left side you will see a green lock icon which indicates that your connection to our web server is secure.</p>
<p class='bold'>What shipping method do you use?</p>
<p>We ship our products via UPS Ground. When your order is shipped you will receive an email with a tracking number.</p>
<p class='bold'>What material are the rod holders made of?</p>
<p>Our rod holders are made of PVC plastic. We chose to use PVC because it is lightweight, durable, and weather resistant. PVC is more UV-resistant than other plastics such as ABS plastic.</p>