<h1>Frequently Asked Questions</h1>
<p>What is your return policy?</p>
<p>If you aren't satisfied for any reason, you may return within 30 days of receiving your product. Buyer pays return shipping.</p>
<p>What payment methods do you accept?</p>
<p>We accept Paypal and credit card payments. Our website uses a secure web protocol (https) and is encrypted with an SSL Certificate. You can verify this by looking at the address bar of your web browser. On the left side you will see a green lock icon which indicates that your connection to our web server is secure.</p>
<p>What shipping method do you use?</p>
<p>We ship our products via UPS Ground. When your order is shipped you will receive an email with a tracking number.</p>
<p>What material are the rod holders made of?</p>
<p>Our rod holders are made of PVC plastic. We chose to use PVC because it is lightweight, durable, and weather resistant. PVC is more UV-resistant than other plastics such as ABS plastic.</p>