body {
	font-size: 14px;
}

p, label {
	font-family: Arial;
}

p {
	margin: 10px 0;
	padding: 0;
}

/*HEADER*/
#logo h1 {
	color: #00adee;
}

/*HOME PAGE*/
#fishing-image {
	width: 50%;
	float: left;
}

#fishing-image img {
	margin-left: 70px;
	padding: 10px 0;
}

#company-description {
	width: 50%;
	float: left;
}

/*CONTACT FORM*/
#contact-message {
	margin: 10px 0 0 0;
}

.contact_type {
	color: #000;
	font-weight: bold;
	padding-right: 3px;
}

#new_inquiry {
	margin: 20px 0 0 0;
}

.inquiry {
	margin: 10px;
}

.inquiry_label {
	display: inline-block;
	width: 8%;
	margin: 10px 0;
	padding-right: 10px;
	text-align: right;
}

/*FAQ page*/
.bold {
	font-weight: bold;
}

/*FOOTER*/
#footer-left p {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 959px) {
	#company-description {
		width: 100%;
		float: none;
	}

	#fishing-image {
		width: 100%;
		float: none;
	}

	#fishing-image img {
		margin: 0;
	}
}

@media only screen and (max-width: 479px) {
	#main-nav-bar li {
		display: block;
		margin-left: 128px;
	}

	#home-link{
		padding-left: 5px
	}

	nav #main-nav-bar li#link-to-cart {
		float: none;
	}

	.inquiry_label {
		display: block;
		text-align: left;
		width: 100%;
		margin: 5px;
	}

	.inquiry {
		display: inline-block;
		text-align: left;
	}

	#inquiry_comments {
		width: 211px;
	}

	#content {
		text-align: left;
	}
}