$link_text_color: #00008B;
$c_green:       #8dba53 !default;
$c_red:         #e45353 !default;  /* Error red      */

body {
	font-size: 14px;
}

p, label {
	font-family: Arial;
}

p {
	margin: 10px 0;
	padding: 0;
}

a {
	color: $link_text_color;
}

.blue-background {
	background-color: $link_text_color;
}

.bold {
	font-weight: bold;
}

/*FLASH NOTICES*/
.flash.notice {
	background-color: $link_text_color;
}

/*HEADER*/
header a {
	color: $link_text_color;
}

header a:hover {
	color: $link_text_color;
}

.amount:hover {
	color: $link_text_color;
}

header nav #main-nav-bar li#link-to-cart {
	background-image: none;
	padding-left: 0;

	a {
		color: $link_text_color;
	}
}

/*HOME PAGE*/
#fishing-image {
	width: 50%;
	float: left;

	img {
		margin-left: 70px;
		padding: 10px 0;
	}
}

#company-description {
	width: 50%;
	float: left;
}

/*PRODUCTS PAGE*/
ul#products li .price {
	color: $link_text_color;
}

/*PRODUCT DETAIL PAGE*/
span.price {
	color: $link_text_color;
}

/*CART*/
.cart-item-description a {
	color: $link_text_color;
}

table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"],
table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"] {
	color: $link_text_color;
}

div[data-hook="inside_cart_form"] #subtotal span.order-total {
	color: $link_text_color;
}

button, .button, .button.continue {
	background-color: $link_text_color;
	color: #FFF;
}

a.button {
	background-color: $link_text_color;	
}

button:hover {
	background-color: $link_text_color;
}

::selection {
	background-color: none;
}

/*DELIVERY FORM*/
.progress-steps li.current-first, .progress-steps li.current {
	background-color: $link_text_color;
}

#billing legend, #shipping legend, #payment legend {
	color: $link_text_color;
}

#checkout-summary table tr[data-hook="item_total"] td:last-child strong {
	color: $link_text_color;
}

#checkout-summary table #summary-order-total {
	color: $link_text_color;	
}


#shipping_method {
	.stock-location {
		background-color: $link_text_color;
	}

	legend {
		color: $link_text_color;
	}

	.shipping-methods {
		.shipping-method {
			label {
				.rate-cost {
					color: $link_text_color;
				}
			}
		}
	}
}

/*ORDER CONFIRMATION*/
#order_summary, #order_details {
	legend {
		color: $link_text_color;
	}

	td.price span {
		color: $link_text_color;
	}

	td.total span {
		color: $link_text_color;
	}
}

/*CONTACT FORM*/
#contact-message {
	margin: 10px 0 0 0;
}

.blue {
	color: $link_text_color;
}

.contact_type {
	color: #000;
	font-weight: bold;
	padding-right: 3px;
}

#new_inquiry {
	margin: 20px 0 0 0;
}

.inquiry {
	margin: 10px;
}

.inquiry_label {
	display: inline-block;
	width: 8%;
	margin: 10px 0;
	padding-right: 10px;
	text-align: right;
}

input[type="submit"] {
	background-color: $link_text_color;
}

input[type="submit"]:hover {
	background-color: $link_text_color;
}

/*FOOTER*/
#footer-left p {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 959px) {
	#company-description {
		width: 100%;
		float: none;
	}

	#fishing-image {
		width: 100%;
		float: none;

		img {
			margin: 0;
		}
	}

/*PRODUCTS PAGE*/
	ul#products li a.info {
		height: 55px;
	}
}

@media only screen and (max-width: 479px) {
	#main-nav-bar li {
		display: block;
		margin: 3px 0 0 128px;
	}

	#home-link{
		padding-left: 5px
	}

	nav #main-nav-bar li#link-to-cart {
		float: none;
	}

/*CONTACT PAGE*/
	.inquiry_label {
		display: block;
		text-align: left;
		width: 100%;
		margin: 5px;
	}

	.inquiry {
		display: inline-block;
		text-align: left;
	}

	#inquiry_comments {
		width: 211px;
	}

	#content {
		text-align: left;
	}
}