<h1></h1>
<div><%= image_tag('float_tube_fishing_rod_holders.jpg'); %></div>
<p>FloatTubeRodHolders manufactures custom fishing rod holders for float tubes. Our rod holders are compatible with the Outcast Fish Cat 4 and the Creek Company ODC420. Our rod holders feature durable construction and can hold spinning and baitcasting rods. They can be customized to hold up to 5 rods and a fishfinder. Please visit our <%= link_to 'Products', spree.products_path %> page to see the different configurations available.</p>
<p>Made in the USA</p>