<div id='company-description'>
	<p>
		FloatTubeRodHolders manufactures fishing rod holders for float tubes. Our rod holders can be used on the Outcast Fish Cat 4, Fishcat 4 Deluxe, and the Creek Company ODC420. Featuring lightweight, durable construction and a solid design, you can count on these rod holders with your most valued fishing gear. Please visit our <%= link_to 'Products', spree.products_path, class: 'blue' %> page to see the various configurations that are available.
	</p>
	<p>Made in the USA</p>
</div>
<div id='fishing-image'><%= image_tag('float_tube_fishing_rod_holders.jpg'); %></div>